<section class="article-section">
  <div class="article-section__inner">
    <div class="o-content">
      <div class="perex">
        Mistrovství světa v hokejbale v Liberci v roce 2023 bude
        nezapomenutelnou sportovní událostí, která nabídne kromě napínavých
        zápasů také možnost vidět v akci nejtalentovanější mladé hráče a hráčky
        z celého světa. Mezi těmito kategoriemi se nacházejí U23 chlapci, U20
        chlapci, U18 chlapci, U21 dívky a U18 dívky.
      </div>
      <p>
        Mistrovství světa v hokejbale v Liberci v roce 2023 bude
        nezapomenutelnou sportovní událostí, která nabídne kromě napínavých
        zápasů také možnost vidět v akci nejtalentovanější mladé hráče a hráčky
        z celého světa. Mezi těmito kategoriemi se nacházejí U23 chlapci, U20
        chlapci, U18 chlapci, U21 dívky a U18 dívky.
      </p>
      <p>
        Každá z kategorií představuje nejlepší týmy v dané věkové skupině a
        každý tým se bude snažit prokázat svou sílua talent a bojovat o zisk
        zlatých medailí. Fanoušci se mohou těšit na napínavé zápasy, plné
        adrenalinu a emocí. Výkony týmů jsou často velmi vyrovnané, což
        zaručuje, že každý zápas bude zajímavý a napínavý až do poslední chvíle.
      </p>
      <p>
        Na stránkách mistrovství světa v hokejbale najdete podrobné informace o
        každé kategorii, včetně kompletního seznamu týmů, které se budou
        účastnit turnaje. Fanoušci se tak mohou seznámit s jednotlivými týmy,
        sledovat průběžné výsledky a statistiky a držet palce svým oblíbeným
        týmům.
      </p>
      <p>
        Na mistrovství světa se představí týmy z celého světa a každý z nich
        bude chtít ukázat, co v něm je. Mezi soutěžícími týmy budou nejen
        zástupci tradičních hokejbalových zemí, jako je Česká republika,
        Slovensko, Francie nebo Kanada, ale také týmy z méně obvyklých zemí,
        které se snaží prosadit v této populární a adrenalinem nabitou sportovní
        disciplíně.
      </p>
      <p>
        Mistrovství světa v hokejbale v Liberci v roce 2023 nabízí nejen
        sportovní zážitek, ale také možnost poznat krásy Liberce a jeho okolí.
        Na stránkách najdete informace o atrakcích, které můžete navštívit během
        své návštěvyv Liberci. Můžete si také přečíst o historii města a jeho
        kulturních památkách, a získat tak úplný obraz o této krásné oblasti.
      </p>
    </div>
    <div class="hp-table__top">
      <h3 class="h3 text-red mb-2">DALŠÍ ČLÁNKY</h3>
      <a href="#" class="link mb-2"> archiv článků </a>
    </div>
    <a href="#" class="hp-posts__item mb-4">
      <div class="hp-posts__img">
        <img src="images/content/post-1.png" alt="" loading="lazy" />
      </div>
      <div class="hp-posts__info">
        <ul class="tags">
          <li class="tag">info z turnaje</li>
          <li class="p3">24.1.2023 - Tomáš Vavroušek</li>
        </ul>
        <h4 class="h4">Z Baťova města se vracíme s prázdnou</h4>
      </div>
    </a>
    <a href="#" class="hp-posts__item mb-4">
      <div class="hp-posts__img">
        <img src="images/content/post-1.png" alt="" loading="lazy" />
      </div>
      <div class="hp-posts__info">
        <ul class="tags">
          <li class="tag">info z turnaje</li>
          <li class="p3">24.1.2023 - Tomáš Vavroušek</li>
        </ul>
        <h4 class="h4">Z Baťova města se vracíme s prázdnou</h4>
      </div>
    </a>
    <a href="#" class="hp-posts__item mb-4">
      <div class="hp-posts__img">
        <img src="images/content/post-1.png" alt="" loading="lazy" />
      </div>
      <div class="hp-posts__info">
        <ul class="tags">
          <li class="tag">info z turnaje</li>
          <li class="p3">24.1.2023 - Tomáš Vavroušek</li>
        </ul>
        <h4 class="h4">
          Z Kanada odhalila reprezentační soupisku pro nadcházející mistrovství
          světa
        </h4>
      </div>
    </a>
  </div>
</section>
