<section class="statistics-section">
  <h1 class="h1 mb-8 text-red">Statistiky</h1>
  <div class="header-section__row">
    <form action="" class="header-section__form">
      <div class="row gy-6">
        <div class="col-sm-5">
          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Tým:</option>
              <option>všechny</option>
              <option>CZE</option>
              <option>GBA</option>
              <option>SVK</option>
            </select>
          </label>
        </div>
        <div class="col-sm-5">
          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Posty:</option>
              <option>všechny</option>
              <option>brankáři</option>
              <option>hráči</option>
              <option>v poli</option>
              <option>obránci</option>
              <option>útočníci</option>
            </select>
          </label>
        </div>
        <div class="col-sm-2 col-12">
          <button class="btn">Hledat</button>
        </div>
      </div>
    </form>
  </div>
  <div class="o-content">
    <h2>Statistiky brankářů</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="číslo dresu"
              href="#"
              >#</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="tým"
              class="team"
              href="#"
              >tým</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Příjmení a jméno"
              href="#"
              >jméno</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="počet zápasů"
              href="#"
              ><strong>Z</strong></a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="odchytané minuty"
              href="#"
              >Min</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="střely"
              href="#"
              >Stř</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="zásahy"
              href="#"
              >Zás</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="inkasované branky"
              href="#"
              >Ink</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="průměr branek na zápas (vzhledem k minutám)"
              href="#"
              ><strong>Prů</strong></a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="úspěšnost zákroků"
              href="#"
              ><strong>Úsp</strong></a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="shut-outy - zápasy s nulou"
              href="#"
              >SO</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="asistence"
              href="#"
              >A</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="trestné minuty"
              href="#"
              ><strong>TM</strong></a
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
        <tr>
          <td>75</td>
          <td><img src="images/ico/gba.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JACKSON Charlotte</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
        <tr>
          <td>75</td>
          <td><img src="images/ico/gba.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JACKSON Charlotte</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
        </tr>
      </tbody>
    </table>
    <h2>Statistiky hráčů v poli</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="číslo dresu"
              href="#"
              >#</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="tým"
              class="team"
              href="#"
              >tým</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="příjmení a jméno"
              href="#"
              >jméno</a
            >
          </th>
          <th></th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="zápasy"
              href="#"
              ><strong>Z</strong></a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="góly"
              href="#"
            >
              G</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="asistence"
              href="#"
              >A</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="body"
              href="#"
              >B</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="góly v přesilových hrách"
              href="#"
              >Gph</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="góly v oslabení"
              href="#"
              >Gos</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="góly z trestného střílení"
              href="#"
              >Gts</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="góly do prázdné branky"
              href="#"
              >Gpb</a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="trestné minuty"
              href="#"
              ><strong>tm</strong></a
            >
          </th>
          <th>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="2min, 5min, osobní 10min, do konce, trest ve hře"
              href="#"
              >2-5-o-k-th</a
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>4</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>75</td>
          <td><img src="images/ico/gba.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JACKSON Charlotte</strong></a>
          </td>
          <td>O</td>
          <td><strong>2</strong></td>
          <td>7</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>4</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>75</td>
          <td><img src="images/ico/gba.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JACKSON Charlotte</strong></a>
          </td>
          <td>O</td>
          <td><strong>2</strong></td>
          <td>7</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>4</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>75</td>
          <td><img src="images/ico/gba.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JACKSON Charlotte</strong></a>
          </td>
          <td>O</td>
          <td><strong>2</strong></td>
          <td>7</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
        <tr>
          <td>98</td>
          <td><img src="images/ico/sk.svg" alt="" /></td>
          <td>
            <a href="#"><strong>JIRÁČKOVÁJIRÁČKOVÁ Aneta</strong></a>
          </td>
          <td>U</td>
          <td><strong>2</strong></td>
          <td>8</td>
          <td>22</td>
          <td><strong>2</strong></td>
          <td>19</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td><strong>0</strong></td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="#" class="link text-center d-block mt-4"> Zobrazit vše</a>
</section>
