.team-section {
  table {
    white-space: nowrap;
    td,
    th {
      text-align: center;
      a {
        display: block;
        width: 100%;
      }
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 50px;
    }
    td:nth-child(2),
    th:nth-child(2) {
      width: 80px;
    }
    td:nth-child(3),
    th:nth-child(3) {
      text-align: left;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    img {
      margin: 0;
      width: 40px;
      margin-right: 12px;
    }
  }
}
