<section class="team-section section">
  <h1 class="h1 mb-8 text-red">Soupiska</h1>

  <div class="o-content">
    <h2 class="team-section__title">
      <img src="images/ico/cz.svg" loading="lazy" />
      Česká republika
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a href="#">post</a>
          </th>
          <th>
            <a href="#">jméno</a>
          </th>
          <th>
            <a href="#">narození</a>
          </th>
          <th>
            <a href="#">věk</a>
          </th>
          <th>
            <a href="#">výška</a>
          </th>
          <th>
            <a href="#">váha</a>
          </th>
          <th>
            <a href="#">hůl</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <h2 class="team-section__title">
      <img src="images/ico/sk.svg" loading="lazy" />
      Slovensko
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a href="#">post</a>
          </th>
          <th>
            <a href="#">jméno</a>
          </th>
          <th>
            <a href="#">narození</a>
          </th>
          <th>
            <a href="#">věk</a>
          </th>
          <th>
            <a href="#">výška</a>
          </th>
          <th>
            <a href="#">váha</a>
          </th>
          <th>
            <a href="#">hůl</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <h2 class="team-section__title">
      <img src="images/ico/gba.svg" loading="lazy" />
      Velká Británie
    </h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a href="#">post</a>
          </th>
          <th>
            <a href="#">jméno</a>
          </th>
          <th>
            <a href="#">narození</a>
          </th>
          <th>
            <a href="#">věk</a>
          </th>
          <th>
            <a href="#">výška</a>
          </th>
          <th>
            <a href="#">váha</a>
          </th>
          <th>
            <a href="#">hůl</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
        <tr>
          <td>13</td>
          <td>B</td>
          <td>
            <a href="#"><strong>DEBNÁROVÁ Lívia</strong></a>
          </td>
          <td>17.8.2001</td>
          <td>21 let</td>
          <td>190 sm</td>
          <td>60 kg</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
