<aside class="aside">
  <!-- Nav tabs -->
  <div class="hp-tabs-section">
    <ul class="tabs">
      <li class="">
        <a class="tab active" data-id="cz" href="#">CZ</a>
      </li>
      <li class="">
        <a class=" tab" data-id="vcera" href="#">včera</a>
      </li>
      <li class="">
        <a class=" tab" data-id="dnes" href="#">Dnes</a>
      </li>
      <li class="">
        <a class=" tab" data-id="zitra" href="#">zítra.</a>
      </li>
    </ul>
    <div class="tabs-wrapper">
    <!-- tab 1  -->
      <div id="cz" class="tab-content tab-active">
         <ul class=" filter-menu">
            <li data-filter="all">
              <a class="active" href="#">všechny </a>
            </li>
            <li data-filter=".u23">
              <a href="#"> U23 CH</a>
            </li>
            <li data-filter=".u20">
             <a href="#"> U20 CH </a>
            </li>
            <li data-filter=".u18">
                <a href="#">U18 CH </a>
            </li>
            <li data-filter=".u16">
                <a href="#">U18 CH </a>
            </li>
            <li data-filter=".u23d">
               <a href="#">U23 D</a>
            </li>
          </ul>
          <div class="filtr-container">
            <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <div  class="game-box ">
               <div class="team1">
                 <div class="name">
                   <img src="images/ico/1.svg" /><br />Česko
                 </div>
               </div>
               <div class="scoreBox">
                 <div class="score">0:13</div>
                 <div class="infoGame">
                  U23 CHLAPCI
                  <br>
                  LIBEREC
                 </div>
               </div>
               <div class="team2">
                 <div class="name">
                   <img src="images/ico/4.svg" /> <br />Slovensko
                 </div>
               </div>
               <div class="buttons">
                  <a
                  href="#"
                  target="_blank"
                  class="stream"
                  >stream</a
                >
                <a
                href="#"
                target="_blank"
                class="onlajny"
                >onlajny.com</a
              >
                 <a href="#" class="report">Reportáž zápasu</a>
               </div>
             </div>
             <a href="#" class="p3 text-center">kompletní rozpis zápasů</a>
          </div>
         
         
    </div>
   

  </div>
</aside>
