<section class="match-section">
  <div class="match-section__inner">
    <div class="match-section__box">
      <div class="row justify-content-center">
        <div class="col-sm-3 col-6 order-last order-sm-0">
          <div class="match-section__logo">
            <img src="images/ico/cz.svg" loading="lazy" />
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="match-section__info">
            <p>ZIMNÍ STADION ČESKÁ TŘEBOVÁ</p>
            <div class="scoreBox">13:0</div>
            <span>(1:1, 2:0, 1:0)</span>
            <h3>ČESKÁ REPUBLIKA U16 - SLOVENSKO U15</h3>
          </div>
        </div>
        <div class="col-sm-3 col-6 order-last order-sm-0">
          <div class="match-section__logo">
            <img src="images/ico/sk.svg" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="o-content">
      <div
        class="match-section__list row justify-content-center g-lg-10 g-5 mb-8"
      >
        <div class="col-sm-3 col-6">
          <span class="h4">Vyloučení</span>
          <div class="h2 text-red">6:7</div>
        </div>
        <div class="col-sm-3 col-6">
          <span class="h4">využití</span>
          <div class="h2 text-red">1:1</div>
        </div>
        <div class="col-sm-3 col-6">
          <span class="h4">oslabení</span>
          <div class="h2 text-red">0:0</div>
        </div>
        <div class="col-sm-3 col-6">
          <span class="h4">STŘELY NA BRANKU</span>
          <div class="h2 text-red">6:7</div>
        </div>
      </div>
      <hr />
      <h4>Branky a nahrávky</h4>
      <p>
        1. Taufer (Novotný, Lhota), 4. Novotný, 11. Rakovský (Šťastný, Kubica),
        12. Svoboda (Vohralík, Zíka), 34. Lhota (Hálek), 38. Novotný, 42.
        Novotný (Dostál, Molnár), 42. Hroch (Šťasný, Jizba) – 39. Šmíd (Bláha,
        Malý)
      </p>
      <h4>Rozhodčí</h4>
      <p>Tomáš Zbořil, Antonín Adam</p>

      <h4 class="team-section__title mb-1">
        <img src="images/ico/cz.svg" loading="lazy" />
        Česká republika U16
      </h4>
      <p>
        Šťovíček (Skalický) – Hálek (C), Jizba, Hnyk, Kovařík, Molnár, Maule,
        Svoboda, Mikl – Bečka, Hroch, Novotný, Šťastný, Zika, Kubica, Lhota,
        Vohralík, Taufer, Dostál, Rakovský, Chovanec
      </p>
      <h4 class="team-section__title mb-1">
        <img src="images/ico/sk.svg" loading="lazy" />
        Slovensko U15
      </h4>
      <p>
        Keprt (Kurivyál) – De Fin, Král, Krejčí, Popek, Dufek, Bolek, Randis,
        Neumaier, Korf, Ehrlich – Mendel, Nistor (C), Slezák, Wróbel, Černý,
        Petráš, Bláha, Šmíd, Myškovský, Malý
      </p>
      <hr />
      <div class="perex">
        Mistrovství světa v hokejbale v Liberci v roce 2023 bude
        nezapomenutelnou sportovní událostí, která nabídne kromě napínavých
        zápasů také možnost vidět v akci nejtalentovanější mladé hráče a hráčky
        z celého světa. Mezi těmito kategoriemi se nacházejí U23 chlapci, U20
        chlapci, U18 chlapci, U21 dívky a U18 dívky.
      </div>
      <p>
        Mistrovství světa v hokejbale v Liberci v roce 2023 bude
        nezapomenutelnou sportovní událostí, která nabídne kromě napínavých
        zápasů také možnost vidět v akci nejtalentovanější mladé hráče a hráčky
        z celého světa. Mezi těmito kategoriemi se nacházejí U23 chlapci, U20
        chlapci, U18 chlapci, U21 dívky a U18 dívky.
      </p>
      <p>
        Každá z kategorií představuje nejlepší týmy v dané věkové skupině a
        každý tým se bude snažit prokázat svou sílua talent a bojovat o zisk
        zlatých medailí. Fanoušci se mohou těšit na napínavé zápasy, plné
        adrenalinu a emocí. Výkony týmů jsou často velmi vyrovnané, což
        zaručuje, že každý zápas bude zajímavý a napínavý až do poslední chvíle.
      </p>
      <p>
        Na stránkách mistrovství světa v hokejbale najdete podrobné informace o
        každé kategorii, včetně kompletního seznamu týmů, které se budou
        účastnit turnaje. Fanoušci se tak mohou seznámit s jednotlivými týmy,
        sledovat průběžné výsledky a statistiky a držet palce svým oblíbeným
        týmům.
      </p>
      <p>
        Na mistrovství světa se představí týmy z celého světa a každý z nich
        bude chtít ukázat, co v něm je. Mezi soutěžícími týmy budou nejen
        zástupci tradičních hokejbalových zemí, jako je Česká republika,
        Slovensko, Francie nebo Kanada, ale také týmy z méně obvyklých zemí,
        které se snaží prosadit v této populární a adrenalinem nabitou sportovní
        disciplíně.
      </p>
      <p>
        Mistrovství světa v hokejbale v Liberci v roce 2023 nabízí nejen
        sportovní zážitek, ale také možnost poznat krásy Liberce a jeho okolí.
        Na stránkách najdete informace o atrakcích, které můžete navštívit během
        své návštěvyv Liberci. Můžete si také přečíst o historii města a jeho
        kulturních památkách, a získat tak úplný obraz o této krásné oblasti.
      </p>
      <hr />
      <h3 class="text-red">OHLASY</h3>
      <p>
        <strong> Martin Davídek (trenér České republiky):</strong> Utkání bylo
        velmi dobré, i přesto ze se s Britkami utkaly již vícekrát, tak stejně
        nevěděly, do čeho jdou. Mužstvo bylo velmi dobře připravené a toto
        utkání bylo spíše na oddych před pátečním důležitějším zápasem. Hráčky
        si mohly vyzkoušet všechny taktiky, herní systémy. Jsem s naším herním
        výkonem spokojen.
      </p>
    </div>

    {% include "@components/photogallery/photogallery.twig" %}
  </div>
</section>
