<section class="table-section section">
  <h1 class="h1 mb-8 text-red">Tabulky</h1>

  <div class="o-content">
    <h2>A1</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a class="team" href="#">tým</a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#"><strong>Z</strong></a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>

          <th>
            <a href="#"><strong>Skóre</strong></a>
          </th>
          <th>
            <a href="#">B</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
    <h2>A2</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a class="team" href="#">tým</a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#"><strong>Z</strong></a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>

          <th>
            <a href="#"><strong>Skóre</strong></a>
          </th>
          <th>
            <a href="#">B</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
    <h2>B1</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a class="team" href="#">tým</a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#"><strong>Z</strong></a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>

          <th>
            <a href="#"><strong>Skóre</strong></a>
          </th>
          <th>
            <a href="#">B</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
    <h2>B2</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="#">#</a>
          </th>
          <th>
            <a class="team" href="#">tým</a>
          </th>
          <th>
            <a href="#"> </a>
          </th>
          <th>
            <a href="#"><strong>Z</strong></a>
          </th>
          <th>
            <a>V</a>
          </th>
          <th>
            <a href="#">VP</a>
          </th>
          <th>
            <a href="#">PP</a>
          </th>
          <th>
            <a href="#">P</a>
          </th>

          <th>
            <a href="#"><strong>Skóre</strong></a>
          </th>
          <th>
            <a href="#">B</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img src="images/ico/cz.svg" alt="" /></td>
          <td>
            <a href="#"><strong>Česko</strong></a>
          </td>
          <td><strong>2</strong></td>
          <td>44</td>
          <td>22</td>
          <td>19</td>
          <td>3</td>
          <td><strong>3,07</strong></td>
          <td><strong>86,36 </strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="#" class="link text-center d-block mt-4"> Zobrazit vše</a>
</section>
