<footer class="footer">
  <a href="#" class="footer__logo">
    <img src="images/ico/logo.svg" alt="" />
  </a>
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#">INFO O TURNAJI</a>
      </li>
      <li class="footer__item">
        <a href="#">VSTUPENKY</a>
      </li>
      <li class="footer__item">
        <a href="#">týmy</a>
      </li>
      <li class="footer__item">
        <a href="#">Statistiky</a>
      </li>
      <li class="footer__item">
        <a href="#">doprovodný program</a>
      </li>
      <li class="footer__item">
        <a href="#">merchandise</a>
      </li>
      <li class="footer__item">
        <a href="#">arény</a>
      </li>
      <li class="footer__item">
        <a href="#">Hraj hokejbal</a>
      </li>
      <li class="footer__item">
        <a href="#">partneři</a>
      </li>
      <li class="footer__item">
        <a href="#">média</a>
      </li>
    </ul>
    <a href="#" class="copyright">© eSports.cz, s.r.o.</a>
  </div>
</footer>
