<section class="albums-section">
  <h1 class="h1 mb-8 text-red">Albums</h1>
  <div class="header-section__row">
    <form action="" class="header-section__form">
      <div class="row gy-6">
        <div class="col-sm-5">
          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Kategorie</option>
              <option>Kategorie 1</option>
              <option>Kategorie 2</option>
              <option>Kategorie 3</option>
              <option>Kategorie 4</option>
            </select>
          </label>
        </div>

        <div class="col-sm-5">
          <label class="header-section__input">
            <input type="text" placeholder="Hledat v článcích..." />
          </label>
        </div>
        <div class="col-sm-2 col-12">
          <button class="btn">Hledat</button>
        </div>
      </div>
    </form>
  </div>
  <div class="albums-section__inner row mb-5">
    <div class="col-xxl-4 col-lg-6 col-md-4 p-3">
      <a
        class="albums-section__item"
        href="https://mizza-cz.github.io/MS-Hokejbal_Liberec/build/04.0_gallery.html"
      >
        <div class="albums-section__img">
          <img
            src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
            alt=""
          />
        </div>
        <div class="albums-section__info">
          <h4 class="h4">Album 1</h4>
          <span class=" ">2. 9. 2021</span>
        </div>
      </a>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-4 p-3">
      <a
        class="albums-section__item"
        href="https://mizza-cz.github.io/MS-Hokejbal_Liberec/build/04.0_gallery.html"
      >
        <div class="albums-section__img">
          <img
            src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
            alt=""
          />
        </div>
        <div class="albums-section__info">
          <h4 class="h4">Album 1</h4>
          <span class=" ">2. 9. 2021</span>
        </div>
      </a>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-4 p-3">
      <a
        class="albums-section__item"
        href="https://mizza-cz.github.io/MS-Hokejbal_Liberec/build/04.0_gallery.html"
      >
        <div class="albums-section__img">
          <img
            src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
            alt=""
          />
        </div>
        <div class="albums-section__info">
          <h4 class="h4">Album 1</h4>
          <span class=" ">2. 9. 2021</span>
        </div>
      </a>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-4 p-3">
      <a
        class="albums-section__item"
        href="https://mizza-cz.github.io/MS-Hokejbal_Liberec/build/04.0_gallery.html"
      >
        <div class="albums-section__img">
          <img
            src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
            alt=""
          />
        </div>
        <div class="albums-section__info">
          <h4 class="h4">Album 1</h4>
          <span class=" ">2. 9. 2021</span>
        </div>
      </a>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-4 p-3">
      <a
        class="albums-section__item"
        href="https://mizza-cz.github.io/MS-Hokejbal_Liberec/build/04.0_gallery.html"
      >
        <div class="albums-section__img">
          <img
            src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
            alt=""
          />
        </div>
        <div class="albums-section__info">
          <h4 class="h4">Album 1</h4>
          <span class=" ">2. 9. 2021</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav aria-label="Další stránky">
        <ul
          class="pagination d-flex flex-wrap pagination-flat pagination-success"
        >
          <li class="page-item active">
            <a class="page-link" href="#" data-abc="true">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true"> »</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
