<a href="#" class="hp-posts__item mb-4">
  <div class="hp-posts__img">
    <img src="images/content/post-1.png" alt="" loading="lazy" />
  </div>
  <div class="hp-posts__info">
    <ul class="tags">
      <li class="tag">info z turnaje</li>
      <li class="p3">24.1.2023 - Tomáš Vavroušek</li>
    </ul>
    <h4 class="h4">Z Baťova města se vracíme s prázdnou</h4>
  </div>
</a>
