{% extends "@components/base/base.twig" %} {% set title = "03.0_archive" %} {%
block main %}
<div class="main__row">
  <div class="main__content">
    {% include "@components/archive-section/archive-section.twig" %}
  </div>
  {% include "@components/aside/aside.twig" %}
</div>

{% endblock %}
