{% extends "@components/base/base.twig" %} {% set title = "06.0_partners" %} {%
block main %}
<div class="main__row">
  <div class="main__content">
    {% include "@components/partners-section/partners-section.twig" %}
  </div>
  {% include "@components/aside/aside.twig" %}
</div>

{% endblock %}
