.gallery-section {
  background-color: var(--color-light);
  border-radius: 4px;
  padding: 40px 32px;
  margin-bottom: 20px;
  .gallery a {
    position: relative;
    display: flex;
    align-items: center;
    aspect-ratio: 260/172;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      background: var(--color-red);
      transition: all 0.3s;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      background-image: url("../images/ico/camera.svg");
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0.5;
      }
    }
  }
}
