<section class="gallery-section">
  <h1 class="h1 mb-8 text-red">Fotogalerie</h1>
  <div class="header-section__row">
    <form action="" class="header-section__form">
      <div class="row gy-6">
        <div class="col-sm-5">
          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Kategorie</option>
              <option>Kategorie 1</option>
              <option>Kategorie 2</option>
              <option>Kategorie 3</option>
              <option>Kategorie 4</option>
            </select>
          </label>
        </div>
        <div class="col-sm-5">
          <label class="o-select header-section__label">
            <select class="js-select">
              <option>Měsíc</option>
              <option>leden</option>
              <option>únor</option>
              <option>březen</option>
              <option>duben</option>
              <option>květen</option>
              <option>červen</option>
              <option>červenec</option>
              <option>srpen</option>
              <option>září</option>
              <option>říjen</option>
              <option>listopad</option>
              <option>prosinec</option>
            </select>
          </label>
        </div>
        <div class="col-sm-10">
          <label class="header-section__input">
            <input type="text" placeholder="Hledat v článcích..." />
          </label>
        </div>
        <div class="col-sm-2 col-12">
          <button class="btn">Hledat</button>
        </div>
      </div>
    </form>
  </div>
  <div class="gallery row js-gallery mb-5">
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/2.jpeg" data-size="1024x1024">
        <img src="images/content/2.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/2.jpeg" data-size="1024x1024">
        <img src="images/content/2.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/2.jpeg" data-size="1024x1024">
        <img src="images/content/2.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/2.jpeg" data-size="1024x1024">
        <img src="images/content/2.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
    <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
      <a href="images/content/post.jpeg" data-size="1024x1024">
        <img src="images/content/post.jpeg" loading="lazy" alt="" />
      </a>
    </figure>
  </div>
  <div class="row">
    <div class="col-12">
      <nav aria-label="Další stránky">
        <ul
          class="pagination d-flex flex-wrap pagination-flat pagination-success"
        >
          <li class="page-item active">
            <a class="page-link" href="#" data-abc="true">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true"> »</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
